#include "resource.pas"

APPICON                 ICON                        "APPICON.ICO"

APPMENU                 MENU
  BEGIN
    POPUP "&File"
    BEGIN
      MENUITEM "E&xit",                              IDM_EXIT
    END

    POPUP "&InvalidateRect"
    BEGIN
      MENUITEM "Invalidate &entire area",            IDM_ENTIRE
      MENUITEM "Invalidate &coordinate area",        IDM_COORDINATE
      MENUITEM SEPARATOR
      MENUITEM "&Show invalidated rectangle",        IDM_SHOWRECT
    END

    POPUP "&Help    "
    BEGIN
      MENUITEM "&About  InvalidateRect ...",         IDM_ABOUT
    END
  END

ABOUTBOX DIALOG 42, 20, 170, 90
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU
CAPTION "About InvalidateRect"
FONT 8, "MS Sans Serif"
BEGIN
  ICON              "APPICON",                       -1, 10, 10,  32, 32
  LTEXT             "Win32 API Example - Functions", -1, 35, 10, 170, 10
  LTEXT             "InvalidateRect",                -1, 35, 20, 170, 10
  CTEXT             "Copyright \251 1997  440bx",    -1,  1, 40, 170, 10
  CTEXT             "All rights reserved.",          -1,  1, 48, 170, 10
  DEFPUSHBUTTON     "OK", IDOK,                          60, 67,  50, 14
END